<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.springboot.mapper.EmployeeMapper">

    <resultMap id="Employee" type="com.atguigu.springboot.entities.Employee">
        <id property="id" column="id" jdbcType="INTEGER"></id>
        <result property="lastName" column="lastName" jdbcType="VARCHAR"></result>
        <result property="email" column="email" jdbcType="VARCHAR"></result>
        <result property="gender" column="gender" jdbcType="INTEGER"></result>
        <result property="birth" column="birth" jdbcType="DATE"></result>
        <collection property="department" ofType="com.atguigu.springboot.entities.Department">
            <id property="id" column="id" jdbcType="INTEGER"></id>
            <result property="departmentName" column="departmentName" jdbcType="VARCHAR"></result>
        </collection>
    </resultMap>


    <resultMap id="EmployeeDto" type="com.atguigu.springboot.entities.dto.EmployeeDto">
        <id property="id" column="id" jdbcType="INTEGER"></id>
        <result property="lastName" column="lastName" jdbcType="VARCHAR"></result>
        <result property="email" column="email" jdbcType="VARCHAR"></result>
        <result property="gender" column="gender" jdbcType="INTEGER"></result>
        <result property="birth" column="birth" jdbcType="DATE"></result>
        <result property="department_id" column="department_id" jdbcType="INTEGER"></result>
    </resultMap>


    <select id="allemp" resultMap="Employee">
       select employee.id,employee.lastName,employee.email,employee.gender,department.departmentName,employee.birth
        from employee
        join department on department.id=employee.department_id
    </select>

    <delete id="delete" parameterType="com.atguigu.springboot.entities.dto.EmployeeDto">
        DELETE FROM employee WHERE id=#{id};
    </delete>


    <insert id="save" parameterType="com.atguigu.springboot.entities.dto.EmployeeDto">
        insert  into employee value (#{id},#{lastName},#{email},#{gender},#{department_id},#{birth});
    </insert>

    <update id="update" parameterType="com.atguigu.springboot.entities.Employee">
        UPDATE  employee
        <set>
            <if test="lastName!=null">
                lastName=#{lastName},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="gender!=-1">
                gender=#{gender},
            </if>
            <if test="department_id!=0">
                department_id=#{department_id},
            </if>
            <if test="birth!=null">
                birth=#{birth},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="selectById" resultMap="Employee">
        select * from employee where id=#{id}
    </select>

</mapper>